


*{
    margin: 0;
    padding: 0;
}


// color
$font-color-base:#3E3E3E;
$btn-color :#FFAA3B;


// googlefonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');
$font-family-english: 'Montserrat', sans-serif;

//レスポンシブ


$pc: 1024px; // PC
$tab: 760px; // タブレット
$sp: 380px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}



// layer
$header:10;
$top:1;


// 階層
$layer: (
	modal: 100, // モダール
	drawer: 40, // ドロワー
	floating: 30, // フローティングアイテム
	header: 20, // ヘッダー
	footer: 10, // フッター
	default: 1,
);

// ハンバーガーアイコン
$drawer-bar-space: 5px;
$drawer-bar-width: 26px;
$drawer-bar-height: 4px;
$drawer-content-width: 300px;


//body
body{
    width: 100%;
    color: $font-color-base;
    font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Gothic Pro", "メイリオ", "MS Pゴシック", "MS PGothic";
    font-size: 18px;
    background-color: #F3F3F3;
}

// 共通パーツ

.btn{
    border: none;
    border-radius: 10px;
    background: $btn-color;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0 3px 5px #707070;

    &:hover{
        background-color:#FF8E05;
        transition: all 0.3s ease 0s;
    }
}

.section-title{
    font-size: 36px;
    font-family: $font-family-english;
    text-align: center;

    @include sp{
        font-size: 30px;
    }
}

// ヘッダー

header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF1A;
    position: fixed;
    z-index: map-get($layer, "header");

    @include sp{
        background-color: #FFFFFF;
        height: 68px;
    }
 
}

.header-inner{
    width: 627px;
    margin: 0 auto;


    ul{
        display: flex;
        list-style: none;
        padding: 31px 0 30px 0;

    }
    li{
        margin-right: 38px;
    }
    
    @include sp{
      width: 100%;
    }
}

.header-logo{
    display: none;

    @include sp{
        display: block;
        margin: 0;
        padding: 21.5px 16px;

    }
}


.nav-item{
    text-decoration: none;
    color: $font-color-base;
    font-family: $font-family-english;
    position: relative;
    font-size: 16px;

    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: $font-color-base;
        transition: all 0.3s ease 0s;
    }

    &:hover{
        cursor:pointer;
      }

      &:hover::after{
         width: 100%;
      }

      @include sp{
          display: none;
      }
}

// ドロワー
.drawer-icon {
    display: none;
	position: fixed;
	right: 10px;
	top: 22px;
	z-index: map-get($layer, "drawer") + 1;
	text-align: center;
	cursor: pointer;
    transition: all 0.5s ease 0s;
    background: none;
    border: none;

    &.is-checked {
        transform: translateX(-$drawer-content-width);
        margin: 0;
    }
    
    @include sp{
        display: inline-block;
    }
}

.drawer-bars {
	display: inline-block;
	width: $drawer-bar-width;
	height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
	position: relative;
    vertical-align: bottom; 
        
}

.drawer-bar {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
    width: 100%;
	height: $drawer-bar-height;
	border-radius: 10px;
    transition: all 0.3s linear 0s;
    background: $font-color-base;

	&:nth-of-type(1) {
		top: 0;
	}

	&:nth-of-type(2) {
		top: $drawer-bar-space + $drawer-bar-height;
	}

	&:nth-of-type(3) {
		top: ($drawer-bar-space + $drawer-bar-height) * 2;
	}

	.is-checked & {
		&:nth-of-type(1) {
            top: 10px;
            transform: rotate(-45deg);
            background: #FFFFFF;
		}

		&:nth-of-type(2) {
			background: transparent;
		}

		&:nth-of-type(3) {
			top: 10px;
            transform: rotate(45deg);
            background: #FFFFFF;
		}
	}
}
.drawer-background {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: $font-color-base;
	opacity: 0;
	transition: all 0.5s ease 0s;

	&.is-checked {
		display: block;
		opacity: 0.8;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	transform: translateX(105%);
	z-index: map-get($layer, "drawer");
	width: $drawer-content-width;
	max-width: 300px;
	height: 100%;
    background: #FFFFFF;
	transition: all 0.5s ease 0s;
	text-align: left;
    color: $font-color-base;

	&.is-checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}

	ul {
		list-style: none;
		margin-top: 197px;
		padding: 0;

		li {
			

			a {
				text-decoration: none;
				display: block;
                position: relative;
                font-family: $font-family-english;
				padding-bottom: 20px;
                color: $font-color-base;
                text-align: center;
                
                img{
                    float: right;
                    padding: 7px 0 12px 0;
                }
				&::after {
					content: "";
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					width: 7px;
					height: 11px;
					
				}
			}
		}
	}
}


// トップ

.top{
   width: 100%;
   height: 648px;
   background: url(../img/mv.png);
   background-size: cover;
  @include sp{
      height: 668px;
      background: url(../img/mv@2x.png);
      background-size: cover;
      background-position: 25% center ;
      z-index: 4;
      
  }
}
.top-inner{
    width: 524px;
    height: 264px;
    padding-top: 220px;
    margin-left: auto;
    margin-right: 109px;
    h1{
        font-size: 30px;
        letter-spacing: 0.02px;
        margin-bottom: 40px;

        @include sp{
            text-align: left;
            font-size: 24px;    
        }
    }
    p{
        letter-spacing: 0.45px;
        margin-bottom: 40px;

        @include sp{
            font-size: 14px;
            text-align: left;
        }
    }
    @include sp{
        text-align: center;
        margin: 0 auto;
        width: 350px;
    }
}

.btn-contact{
    font-size: 18px;
    padding: 14px 48px;
    letter-spacing: 0.45px;

   @include sp{
       padding: 13.5px 24px;
   }
}

// news

.news{
   width: 100%;
   background-color: #F3F3F3;
   padding: 130px 0;

   @include sp{
       width: 90%;
       margin: 0 auto;
       padding: 0;
       padding-bottom: 60px;
   }
}

.news-inner{
    max-width: 1180px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 5px 12px #E3E3E3;
    h2{
        padding: 60px 0;
        @include sp{
            padding-top: 0;
            padding-bottom: 40px;
        }
    }
    @include sp{
        max-width: 343px;
        padding: 40px 0;
        margin-top: -40px;
        z-index: 6;
    }
}

.info{
    display: flex;
    max-width: 1079px;
    margin: auto;
    padding: 40px 0;
    border-top: 1px solid #CECDCD;
    border-bottom: 1px solid #CECDCD;
    
    &:nth-of-type(2){
        border:none;
    }

    

    &:hover{
        background-color: rgba(59, 105, 255, 0.274);
        transition: all 0.3s ease 0s;
        
    }

    @include sp{
        position: relative;
        display: block;
        width: 100%;
        padding: 16px 0;
       
    }
}



.info-meta{
    display: flex;
    width: 343px;

    p{
        font-family: $font-family-english;
        padding-right: 60px ;

        @include sp{
            padding-right: 20px;
        }
    }

    @include sp{
        max-width: 343px;
        padding-left: 16px;
    }
}

.btn-info{
   width: 125px;
   height: 28px;
   border: 2px solid #3B69FF;
   background-color: #FFFFFF;
   border-radius: 50px;

   @include sp{
       width: 89px;
       height: 24px;
       font-size: 12px;
   }
}

.info-title{
    max-width: 697px;
    flex-wrap: wrap;
    display: flex;

    a{
        text-decoration: none;
        color: $font-color-base;

        @include sp{
            margin-top: 13px;
            font-size: 14px;
            width:280px;
        }
    }

    @include sp{
       display: flex;
        padding-left: 16px;
    }
}

.news-icon{
    margin-left: auto;
    margin-right: 5px;

    @include sp{
        display: none;
    }
}

.news-icon-sp{
    display: none;
     
    @include sp{
        display: block;
        margin-left: auto;
        margin-right: 5px;
    }
}

.read-more{
    text-align: center;
}

.btn-more{
    border: 1px solid #707070;
    background: none;
    font-size: 20px;
    font-family: $font-family-english;
    letter-spacing: 4px;
    padding: 20px 86px;
    margin: 40px 0;
    transition: all 0.3s ease 0s;

   &:hover{
    background: $font-color-base;
    color:#FFFFFF;
   }

   @include sp{
       font-size: 18px;
       padding: 16px 121.5px;

   }
}

// service

.service{
    color: #FFFFFF;
    background: linear-gradient(#3E3E3E 400px,  #F3F3F3 400px);
    padding-bottom: 130px;

    h2{
        padding: 80px 0;

        @include sp{
            padding: 0;
            padding-top: 80px;
            padding-bottom: 40px;
        }
    }

}

.service-inner{
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 5px 12px #707070;
    color: $font-color-base;
    width: 960px;
    height: 321px;
    margin: auto;

    @include sp{
        width: 343px;
        height: 100%;
        display: block;
        text-align: center;
        padding-bottom: 40px;
    }
}

.service-content{
    width: 231px;
    margin-left: 85.5px;
    margin-top: 60px;
    text-align: center;

    &:first-of-type{
        margin-top: 54px;
        margin-left: 48px;

       @include sp{
           margin: 0;
       }        
    }

    p{
       font-size: 14px; 
       letter-spacing: 0.01px;
       text-align: left;

       @include sp{
           margin: 0 16px 25px 16px;

       }
    }

    @include sp{
        width: 100%;
        margin: 0;
        padding-top: 40px;
    }
}

.service-title{
    font-size: 20px;
    font-family: $font-family-english;
    letter-spacing: 4px;
    margin-top: 31.62px;
    margin-bottom: 20px;

    @include sp{
        margin-bottom: 24px;
    }
}

.title1{
    margin-top: 27px;

    @include sp{
        margin-top: 22px;
    }
}

// results

.results{
    max-width: 100%;
    background-color: #F3F3F3;

}

.results-inner{
    max-width: 1273px;
    background-color: #3E3E3E;
    color: #FFFFFF;
    margin-left: 93px;
    padding-left: 110px;

    h2{
      padding: 80px 0;
      text-align: left;

      @include sp{
          text-align: center;
          padding: 40px 0;
      }
    }

    @include sp{
        width: 100%;
        margin: 0;
        padding-left: 0;
        text-align: center;
    }
}


div.swiper-container{
    max-width: 1163px;
    height: 368px;
    margin-left: 0;
    
    @include sp{
        width: 100%;
        height: 100%;
        
    }
}

.swiper-slide{
    width: 422px;
    margin-right: 40px;
    background-color: #FFFFFF;
    color: $font-color-base;

    @include sp{
        padding-bottom: 12px;
    }

    img{
        width: 100%;
    };

    dt{
      font-size: 20px;
      font-weight: bold;
      padding-top: 20px ;
      margin-left: 20.5px;

      @include sp{
          margin: 0;
          font-size: 15px;
          padding: 10px 12px;

      }
    }

    dd{
       font-size: 16px;
       flex-wrap: wrap; 
       margin: 20px;

       @include sp{
           font-size: 12px;
           margin: 0 12px 12px 12px;
       }
    }

    @include sp{
        margin: 0;
        margin-left: 16px;
    }

}

div.swiper-pagination{
    position: static;
    padding: 48px 0 ;
    text-align: left;

    @include sp{
        text-align: center;
        padding-top: 28px;
        padding-bottom: 44px;
    }
}

span.swiper-pagination-bullet{
    margin-right: 16px;
    width: 12px;
    height: 12px;
    position: static;
    opacity: 1;
    background: #FFFFFF;
 
  
}

span.swiper-pagination-bullet-active{
    background-color:#FFFFFF;
    border: 3px solid $font-color-base;
    width: 15px;
    height: 15px;
    border-radius: 20x ;
    box-shadow: 0 0 0 2px #FFFFFF;
}


.btn-view{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
    font-size: 20px;
    font-family: $font-family-english;
    letter-spacing: 4px;
    padding: 20px 86px;
    margin: 40px 0;
    transition: all 0.3s ease 0s;

    @include sp{
        margin-top: 0;
        font-size: 18px;
        padding: 16px 113.5px;
    }

   &:hover{
    border: 1px solid $font-color-base;
    background: #FFFFFF;
    color:$font-color-base;
   }
}

// price

.price{
    width: 100%;
    background-color: #F3F3F3;
    padding-top: 80px;

    @include sp{
        padding-top: 40px;
    }

}

.price-inner{
  
    h2{
        margin-bottom: 80px;

        @include sp{
           margin-bottom: 40px;
        }
    }

    @include sp{
        max-width: 343px;
        margin: 0 auto;
    }
}

.graph{
    max-width: 960px;
    margin: 0 auto;

    p{
        padding-top: 26px;
        font-size: 12px;
        padding-bottom: 131px;

        @include sp{
            padding-top: 14px;
            padding-bottom: 60px;
        }
    }
    @include sp{
        width: 100%;

    }
   
}


.graph-content{
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-family: $font-family-english;
      
    dt{
        border: 1px solid #707070;
        border-collapse:inherit;
        width: 250px;
        background-color: $font-color-base;
        color: #FFFFFF;
        text-align: center;
        padding: 15px 0;

        @include sp{
            width: 120px;
        }
    }

    dd{
        border: 1px solid #707070;
        border-collapse:inherit;
        width: calc(100% - 250px);
        background-color: #FFFFFF;
        padding: 15px 0;
        padding-left: 40px;

       @include sp{
        width: calc(100% - 120px);
       }
    }
}

// comment

.comments{
    background-color: #F3F3F3;
    position: relative;
}

.comments-inner{
    display: flex;
    padding-bottom: 130px;

    @include sp{
        padding-bottom: 60px;
    }
}

.cm-left{
    max-width: 564px;
    height: 616px;
    background-color: #FFFFFF;
    margin-left: 93px;
    padding: 0 40px;
    box-shadow: 0 0 10px #CECDCD;
    z-index: 2;
    
    
    h2{
        text-align: left;
        padding: 80px 0;

        @include sp{
            padding: 40px 0;
        }
    }

    @include sp{
        width: 303px;
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;

    }
}

.cm-content{
    display: flex;
    margin-bottom: 80px;

    @include sp{
        margin-bottom: 30px;
    }

    img{
        margin-right: 50px;

        @include sp{
            width: 56px;
            height: 56px;
            margin-right: 24px;
        }
    }

    p{
        width: 414px;
        font-size: 16px;

        @include sp{
            font-size: 14px;
        }
    }
}

.cm-right{
    margin-top: 126px;
    z-index: 2;
    width: 100%;
    @include sp{
        display: none;
    }
}

.background-black{
  position: absolute;
  top: 130px;
  bottom: 0;
  width: 980px;
  background: #3E3E3E;

  @include sp{
      width: 100%;
  }
}

// Q&A

.qa{
    width: 100%;
    background-image: url(../img/sunyu-kim-1053375-unsplash.png);
    background-size: cover;
    padding: 80px 0;

    @include sp{
        background-position: center;
        padding: 0;
        padding-bottom: 40px;
    }
}

.qa-inner{
    max-width: 616px;
    margin-left: auto;
    margin-right: 109px;

     h2{
         text-align: left;
         padding-bottom: 80px;

         @include sp{
             text-align: center;
             padding: 40px 0;
         }
     }
  
    @include sp{
        max-width: 343px;
        margin: 0 auto;
        
    }
}

.qa-item{
    background-color: #FFFFFF;
    border-radius: 7px;
    padding-bottom: 18px;
    margin-bottom: 40px;
   

    &:last-of-type{
        margin: 0;
    }

    &.is-open{
      padding-bottom: 18px;
    }
}

.accordion-head{
    display: flex;
    padding-top: 18px;

    h5{
        margin-left: 18px;
        font-size: 16px;
        background-color: #3B69FF;
        border-radius: 50%;
        padding: 0px 8px;
        color: #FFFFFF;
        margin-right: 13px;
    }
}

.accordion-icon{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 18.5px;
    background-image: url(../img/plus.svg) ;
    background-repeat: no-repeat;


    &.is-open{
        margin-top: 10px;
        background-image: url(../img/minus.svg);
    }
}

.accordion-body{
    display: none;
    margin: 0 auto;
    width: 580px;
    background-color:rgba(109, 140, 240, 0.479);
    border-radius: 7px;

    @include sp{
        width: 307px;

    }
}

.accordion-body-in{
    margin-top: 20px;
   padding: 18px 14px;
}


// access

.access{
    display: flex;
    position: relative;
    padding: 130px 0;

    @include sp{
        display: block;
        background-color: $font-color-base;
        padding-top: 0;
    }
}



.access-left{
    color: #FFFFFF;
    margin-left: 93px;
    text-align: left;
    z-index: 3;

    @include sp{
        max-width: 343px;
        margin: 0 auto;
    }

    h2{
        text-align: left;
        margin-bottom: 40px;

        @include sp{
            padding-top: 40px;
        }
    }

    p{
        font-size: 16px;
        line-height: 2;

        @include sp{
            font-size: 12px;

        }
    }

    button{
        background: none;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 20px;
        font-family: $font-family-english;
        letter-spacing: 2px;
        padding: 20px 86px;
        margin-top: 40px;
        margin-right: 135px;
        transition: all 0.3s ease 0s;

        &:hover{
         border: 1px solid $font-color-base;
         background: #FFFFFF;
         color:$font-color-base;
        }

        @include sp{
            display: none;
        }
    }
}

.access-right{
    z-index: 3;
   
    iframe{
    @include sp{
        width: 343px; 
        height: 241px; 
        margin: 0 auto; 
    }
    }

    @include sp{
      width: 343px;
      margin: 0 auto;
      margin-top: 19px;
    }
}

.btn-map-sp{
    display: none;
        margin: 0 auto;
        background: none; 
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 18px;
        font-family: $font-family-english;
        letter-spacing: 1.8px;
        padding: 16px 102px;
        margin-top: 40px;
        transition: all 0.3s ease 0s;

        &:hover{
         border: 1px solid $font-color-base;
         background: #FFFFFF;
         color:$font-color-base;
        }

    @include sp{
        display: block;
    }
}

.background-black2{
    position: absolute;
    top: 0;
    bottom: 230px;
    width: 980px;
    background: #3E3E3E;

    @include sp{
        display: none;
    }
}

// contact

.contact{
    max-width: 100%;
    background-image: url(../img/alex-blajan-159378-unsplash.png);
    background-size: cover;
    padding: 80px 16px;

   @include sp{
       padding: 40px 16px; 
   }
}

.contact-inner{
    background-color: #FFFFFF;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
}

.contact-header{
    background-image: url(../img/contact1.png);
    background-size: cover;
    border-radius: 12px 12px 0 0;
    padding: 58px 0 64px;
   
    
        @include sp{
            padding: 32px 16px；  
        }
    
}

.contact-header-inner{

    position: relative;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    p{
        font-size: 16px;
        padding-top: 12px;

        @include sp{
            font-size: 14px;
            padding-top: 10px;
            text-align: left;  
        }
    }
    @include sp{
        margin: 0 auto;
        padding: 0 10px;
        border-radius: 12px 30px 0 0;
    }
}

.contact-item{
    max-width: 760px;
    margin: 0 auto;
    padding: 60px 90px;
    font-size: 22px;
    background-color: #FFFFFF;
    border-radius: 0 0 12px 12px;

    @include sp{
        padding: 40px 16px;
        margin: 0 auto;
        font-size: 16px;
    }
}



.contact-control{
    display: flex;
    padding-bottom: 40.5px;

    @include sp{
        display: block;
    }

    dd{
        width: 505px;
        margin-left: auto;

        @include sp{
            width: 100%;
        }
    }
}

.form-input{
    width: 100%;
    height: 29.5px;
    font-size: 22px;
    border: none;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid $font-color-base;
    opacity: 0.5;

    &:hover{
        border-bottom: 1px solid #3B69FF;
        box-shadow: 0px 9px 3px -3px  rgba(0,0,0,0.1);
        transition: all 0.3s ease 0s;
        
    }

    @include sp{
      font-size: 14px;
    }
}

#your-email{
    opacity: 1;
}

.contact-select{
    display: flex;
    margin-bottom: 42px;

    @include sp{
        display: block;
        font-size: 16px;
    }
}

.form-select{
    width: 261px;
    height: 32px; 
    margin-left: 60px;
    opacity: 0.5;

    &:hover{
       box-shadow: 1px 1px 10px #3B69FF;
    }

    @include sp{
        margin-left: 0;
        width: 100%;
    }
}

.contact-label{
    padding-bottom: 40.5px;
}

.contact-label--required{
    position: relative;

    &::after {
		content: "必須";
		position: absolute;
        background: #E81919;
		border-radius: 5px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		padding: 2px 11px 2px 15px;
		width: 40px;
		display: flex;
		top: 0;
        left: 140px;

        @include sp{
            left: 100px;
            font-size: 12px;
            width: 30px;
            padding: 1px 5px 1px 8px;
        }
        }  
}

.radio-title{
    margin-right: 210px;
}

.radio {
    margin: 0.5rem;
    }

.form-radio{
    display: none;

    + span{
        cursor: pointer;
        display: inline-block;
        margin-right: 60px;
        padding: 0 0 0 1.2em;
        position: relative;

        @include sp{
            margin-right: 30px;
        }

     

        &::before{
            position: absolute;
            transform: translateY(-50%);
            background: #fff;
            border: 1px solid $font-color-base;
            border-radius: 50%;
            content: "";
            display: block;
            height: 12px;
            width: 12px;
            left: 0;
            top: 50%;
        }

        &::after{
            position: absolute;
            transform: translateY(-50%); 
            transition: all 0.3s ease 0s;
            background: #3B69FF;
            border: 1px solid transparent;
            border-radius: 50%;
            content: "";
            width: 2px;
            height: 2px;
            left: 3px;
            top: 50%;
            opacity: 0;
            padding: 2px;
        }
    }

    &:checked{
        + span{
            &::after{
                opacity: 1;  
            }
        }
    }
}
  
.form-textarea{
    width: 780px;
    height: 213px;

    @include sp{
        width: 100%;
    }

    &:hover{
        border: 1px solid #3B69FF;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease 0s;
        
    }



}
.contact-check{
    margin-top: 30px;
}

.form-checkbox{
    display: none;

    + span{
        cursor: pointer;
        display: inline-block; 
        position: relative;
        margin: 0 0.2em 0;
        padding: 0 0 0 35px;

        &::before{
            position: absolute;
            background: #fff;
            border: 1px solid $font-color-base;
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            left: 0;
            top: 5px;

            @include sp{
               width: 15px;
               height: 15px;
                
            }
        }
        
        &::after{
           position: absolute;
           border-bottom: 3px solid #3B69FF;
           border-left: 3px solid  #3B69FF;
           content: "";
           display: block;
           height: 8px;
           left: 3px;
           margin-top: -0.2em;
           opacity: 0;
           top: 50%;
           transform: translateY(-50%) rotate(-45deg);
           transition: all 0.3s ease 0s;
           width: 13px;

           @include sp{
               top: 60%;
               width: 8px;
               height: 3px;
           }
        }

    }
    &:checked{
        + span{
            &::after{
                opacity: 1;  
            }
        }
    }
}


.btn-submit{
    margin-top: 30px;
    letter-spacing: 0.45px;
    font-size: 18px;
    padding: 14px 50px;
    text-align: center;
    font-weight: bold;

        @include sp{
            width: 121px;
            padding: 13.5px 0;
            margin-top: 20.5px;
            margin-bottom: 30px;
            
        }
    
}
.contact-btn{
    @include sp{
        text-align: center;
    }
}
  

  
// footer


footer{
    background-color: $font-color-base;
    color: #FFFFFF;
}

.footer-inner{
  max-width: 1180px;
  padding: 120px 93px;
  display: flex;

  @include sp{
      width: 343px;
      margin: 0 auto;
      display: block;
      padding: 10px 5px;
  }
}

.footer-left{
    opacity: 0.6;

    @include sp{
        text-align: center;
    }
}

.footer-content{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;

    &:last-of-type{
        margin-bottom: 0;
    }

    @include sp{
        display: inline-block;
        text-align: center;
        font-size: 14px;

        &:first-of-type{
            padding-right: 68px;
        }
    }
}

.link{
    display: flex;
    margin-bottom: 40px;

    .fab{
        font-size: 36px;
        margin-right: 20px;
    }

    a{
       text-decoration: none;
       color: #FFFFFF;

        @include sp{
            margin-right: 115px;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    @include sp{
        width: 204px;
        margin: 0 auto;
        padding-top: 20px;
        margin-bottom: 40px;
    }
}

.footer-right{
    margin-left: auto;
    display: block;
}

.footer-title{
    color: #E3E3E3;
    font-size: 44px;
    margin-top: 43px;
    margin-bottom: 18px;

    @include sp{
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding-top: 55px;
        padding-bottom: 8px;
    }

}
.footer-text{
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;

    @include sp{
        text-align: center;
        padding-bottom: 92px;
    }
}

// topBtn

.to-top{
    height: 50px;
    border: none;
  position: fixed;
  bottom: 38.5px;
  right: 93px;

  @include sp{
      left: 305px;
      bottom: 15px;
  }
}

